# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Firebase configuration
firebaseConfig.js

# Ignore UI-page.js
UI-page.js

# Other files to ignore
.DS_Store
Thumbs.db

# Additional files to ignore
admin data.js
face-api.js
fire_base.html
